a{
    margin-top: 12px;
    border-radius: 12px;
    font-style: italic;
}

b{
    color: blueviolet;
}

.botao{
   color: blue;
   font-family: sans-serif;
   font-size: 10px;
   font-weight: 20;
   padding: 4px;
}
